<% content_for :header do %>
        <div class="hero container">
            <div class="row">
                <h2 class="title">Create a sticker listing</h2>
            </div>
        </div>
<% end %>

<%= render 'form', sticker: @sticker %>

