<%#Navbar partial based on Bootstrap templates - https://getbootstrap.com/docs/4.5/components/navbar/%>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f05454;">
  <a class="navbar-brand" href="#">StickerStation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<%#Search box%>
 <form class="form-inline my-2 my-lg-0 w-75 p-3">
      <input class="form-control mr-sm-2 w-75 p-3" type="search" placeholder="Search for stickers" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="#">Sign in</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Log out</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Cart</a>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="browse-item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Browse by category
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

    </ul>
   
  </div>
</nav>