/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";
@import "font-awesome-sprockets";
@import "font-awesome";

//STYLING FOR SHARED ELEMENTS
a {
    text-decoration: none;
    text-emphasis: none;
    color: black;
}

a.hover {
    text-decoration: none;
    text-emphasis: none;
}

.button {
    margin: 10px;
}

.page-title {
    color: #6d6875;
}

.search-margin {
    margin-left: 10px;
}

.search-margin-icon {
    margin-left: 10%;
}

.form-tag-class {
    display: inline-block;
    height: 30px;
    font-size: 2rem;
}

//NAVBAR STYLING 

.brand-title {
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

.log-in-div {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
}

.log-in-text {
    color: white;
    font-weight: 600;
}

//STYLING FOR INDEX PAGE

.greeting-text {
    color: #f05454;
    font-size: 2rem;
    font-weight: 600;
}

.browse {
    margin-left: 40px;
    background-color: #ECECEC;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.category {
    padding-right: 20px;
}

.sticker-index-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    box-shadow: 10px 8px 8px 10px #cfcccc;
    border-radius: 20px 20px 20px 20px;

    .sticker {
        border-left: 0;
        border-top: 0;
        position: relative;
        min-height: 400px;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 5px 5px 1px 1px #e7e2e2;

        .sticker-title {
            position: absolute;
            bottom: 70px;
            left: 10px;
            line-height: 30px;
            font-size: 1.1rem;
            font-weight: 600;
            color: black;
        }

        .price {
            position: absolute;
            bottom: 10px;
            left: 10px;
            color: #5c6b73;
            font-weight: 600;
            font-size: 1.2rem;
            padding-top: var(--spacing-small);
        }

        .sold-by {
            padding-top: var(--spacing-extra-small);
            position: absolute;
            bottom: 50px;
            left: 10px;
        }

        .tag1 {
            position: absolute;
            bottom: 120px;
            left: 9px;
        }

        .tag2 {
            position: absolute;
            bottom: 120px;
            right: 9px;
        }

        .tag3 {
            position: absolute;
            top: 15px;
            right: 15px;
            color: darkgrey;
        }

        .tag4 {
            position: absolute;
            top: 15px;
            left: 15px;
            color: darkgrey;
        }

        .edit-functions {
            position: absolute;
            bottom: 7px;
            right: 0;
        }
    }

    .sticker-thumb {
        max-height: 300px;
        overflow: hidden;
    }

    .thumb-background {
        background-color: #ECECEC;
        width: 100%;
        height: 290px;
        border-radius: 20px;
    }

    .image-holder {
        justify-content: center;
        text-align: center;
    }

    .sticker-text {
        padding-top: var(--spacing-medium);
    }
}

.box-padding {
    padding: 5px;
    background-color: white;
    margin: 20px;
}

.preview {
    margin-top: 90px;
    margin-left: 15px;
}

.no-preview-icon {
    display: relative;
    margin-bottom: 10px;
    align-self: center;
    color: darkgrey;
}

.see-more {
    font-size: 1.5rem;
    margin: 20px;
    color: #6d6875;
}

.most-viewed-title {
    background-color: #f05454;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 1.5rem;
    font-style: italic;
}

.buy-tile {
    border-radius: 20px;
    margin-right: 50px;
}

//Zooming in on image of sticker when mouse hovers over it 
img {
    transition: transform .4s;
}

img:hover {
    transform: scale(2);
}

//STYLIGN FOR SHOW PAGE

.title-tile {
    padding-top: 50px;
    color: darkgrey;
    justify-content: center;
    text-align: center;
}

.default-image-holder {
    overflow: hidden;
}

.show-content {
    padding: var(--spacing-large);
    margin-top: var(--spacing-medium);
    background-color: white;
    border-radius: 3px;
}

.show-image-bg {
    background-color: #F5F5F5;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
}

.inline-labels {
    display: inline-block;
    padding-right: var(--spacing-medium);
}

.sold-padding {
    margin-bottom: 20px;
}

.other-views {
    background-color: #e99898;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.recommendations {
    padding-top: var(--spacing-extra-large);
    font-size: 1.3rem;
    font-weight: 400;
    color: black;
}

.description {
    margin-top: 30px;
}

.idea-icon {
    color: white;
}

.idea-icon-container {
    padding-bottom: 15px;
}

//STYLING FOR NEW STICKER LISTING PAGE at Views>Stickers>new.html.erb which renders the _form partial
.new-listing-form {
    margin-top: 50px;
    background-color: #e99898;
}


//STYLING FOR NEW USER SIGN_UP PAGE
.margin-column {
    padding: 20px 50px;
}


//STYLING FOR NEW STICKER LISTING
.margin-column1 {
    padding: 20px 65px;
}

.margin-column2 {
    padding: 20px 40px;
}